/***************************************************
GLOBAL
***************************************************/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

iframe {
    max-width: 100%;
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all 0.5s ease;
}

body {
    word-wrap: break-word;
    /* font-family: 'Arapey', serif; */
    font-size: 14px;
    position: relative;
    font-size: 14px;
    min-width: 320px;
    line-height: 1.5;
    font-weight: 300;
    overflow-x: hidden;
    opacity: 1;
    height: 100%;
}

/***************************************************
***************************************************/

.flex {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    align-items: flex-start;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.discover:hover{
    color: black;
}

/***************************************************
***************************************************/

/* .the_base{
    border: 1px solid red;
    min-height: 50px;
} */

.row_class{
    /* border: 1px solid blue; */
    min-height: 50px;
    margin-bottom: 50px;
}
.row_class2{
   /*  border: 1px solid blue; */
    margin-bottom: 10px;
}

.col_class{
    /* border: 1px solid green; */
    min-height: 50px;
}
/***************************************************
***************************************************/
.logo_top{
    width: 100%;
}

.main-nav a {
    padding-top: 20px;
    margin: auto;
}

.main-nav i {
    color: grey;
    font-weight: 600;
    font-size: 40px;
}
.main-nav i:hover{
    color: rgb(227, 167, 14);
}
/***************************************************
***************************************************/
/* .main-nav-menu{
    justify-content: space-between;
} */

.nav_menu li{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.nav_search{
    display: flex;
    justify-content: flex-start;
    align-items: center;;
}
.main-nav-menu li {
    color: black;
    font-weight: 600;
}
.main-nav-menu a {
    color: black;
    font-weight: 600;
    font-size: 20px;
    transition: font-size 0.5s ease-in-out;
}
.main-nav-menu i {
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-left: 5px;
}
.main-nav-menu a:hover{
    font-size: calc(20px + 3px);
    text-decoration: underline;
    text-decoration-color: rgb(227, 167, 14);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 8px;
}
.main-nav-menu i:hover{
    color: rgb(227, 167, 14);
}
.vertical-line{
    border: 2px solid #000;
    display: inline-block;
    height: 25px;
  }
/***************************************************
***************************************************/
.graine-cafe{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    text-align: center;
}
.graine-cafe h1{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Arapey', serif;
    color: #000;
}
.graine-cafe p{
    font-size: 15px;
    color: rgb(235, 163, 39);
    margin-top: 0px;
    font-family: 'Arapey', serif;
    font-style: italic;
}
.graine-cafe h1{
    transition: font-size 1s ease-in-out;
}
.graine-cafe a p{
    transition: font-size 1s ease-in-out;
}
.graine-cafe:hover a p {
  font-size: calc(15px + 3px);
}
.graine-cafe:hover h1 {
    font-size: calc(30px + 3px);
}
/***************************************************
***************************************************/
.fete-des-meres{
    margin-left: auto;
    margin-right: auto;
    /* width: 600px;
    height: auto; */
    text-align: center;
}
.fete-des-meres h1{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Arapey', serif;
}
.fete-des-meres p{
    font-size: 15px;
    color: rgb(227, 167, 14);
    margin-top: 0px;
    font-family: 'Arapey', serif;
    font-style: italic;
}
.fete-des-meres h1{
    transition: font-size 1s ease-in-out;
}
.fete-des-meres a p{
    transition: font-size 1s ease-in-out;
}
.fete-des-meres:hover a p {
  font-size: calc(15px + 3px);
}
.fete-des-meres:hover h1 {
    font-size: calc(30px + 3px);
}
/***************************************************
***************************************************/
.maille-fine-femme{
    text-align: center;
}
.maille-fine-femme h1{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Arapey', serif;
}
.maille-fine-femme p{
    font-size: 15px;
    color: rgb(227, 167, 14);
    margin-top: 0px;
    font-family: 'Arapey', serif;
    font-style: italic;
}
.maille-fine-femme h1{
    transition: font-size 1s ease-in-out;
}
.maille-fine-femme a p{
    transition: font-size 1s ease-in-out;
}
.maille-fine-femme:hover a p {
  font-size: calc(15px + 3px);
}
.maille-fine-femme:hover h1 {
    font-size: calc(30px + 3px);
}
/***************************************************
***************************************************/
.cuir-femme{
    text-align: center;
}
.cuir-femme h1{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Arapey', serif;
}
.cuir-femme p{
    font-size: 15px;
    color: rgb(227, 167, 14);
    margin-top: 0px;
    font-family: 'Arapey', serif;
    font-style: italic;
}
.cuir-femme h1{
    transition: font-size 1s ease-in-out;
}
.cuir-femme a p{
    transition: font-size 1s ease-in-out;
}
.cuir-femme:hover a p {
  font-size: calc(15px + 3px);
}
.cuir-femme:hover h1 {
    font-size: calc(30px + 3px);
}
/***************************************************
***************************************************/
hr{
    color: black;
    margin: 0px;
    margin-bottom: 20px;
}
.hr_class{
    margin-bottom: 100px;
}
.reseaux{
    text-align: center;
}
.reseaux h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Arapey', serif;
    margin-bottom: 30px;
}
.reseaux-nav i {
    color: rgb(227, 167, 14);
    font-weight: 600;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

}
.reseaux-nav i:hover{
    color: black;
}
/***************************************************
***************************************************/
.service_client{
    text-align: left;
    /* border: 1px solid green; */
}
.service_client h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Arapey', serif;
    text-align: center;
    margin-bottom: 30px;
}
.service_client h5{
    font-size: 17px;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Arapey', serif;
    transition: font-size 0.2s ease-in-out;
    
}
.service_client h5:hover {
  font-size: 17.5px;
}
/***************************************************
***************************************************/
.row_class_footer{
    /* border: 1px solid blue; */
    background-color: rgb(227, 167, 14);
}

/***************************************************
*******************              ******************/
/****************  DETAIL PRODUIT  *****************
*******************              ******************/
/**************************************************/
.description_product h1{
    font-family: 'Arapey', serif;
    font-weight: bold;
}
.description_product p{
    font-family: 'Arapey', serif;
    font-weight: 400;
    font-size: 17px;
}
.description_product h2{
    font-family: 'Arapey', serif;
    font-weight: 700;
    margin-bottom: 20px;
}
.incl_tva {
    font-size: 17px;
    font-weight: lighter;
}

.add_cart_button{
    background-color: #000;
    color: white;
    font-family: 'Arapey', serif;
    font-size: 22px;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.add_cart_div{
    text-align: center;
    align-items: center;
}
.add_cart_button:hover{
    transform: scale(1.05);
    background-color: white;
    color: #000;
    font-weight: bold;
}

.share_div{
    display: flex;
    align-items: center; 
    text-align: center;
    justify-content: space-between;
    width: 40%;
    /* border: solid blue 1px; */
}
.share_div i{
    font-size: 20px;
    color: rgb(227, 167, 14);
}
.share_div h3{
    font-size: 17px;
    margin: 0;
    font-family: 'Arapey', serif;
}
.share_div p{
    margin: 0;
    font-size: 12px;
}
.vertical-line2{
    border: 1px solid #000;
    display: inline-block;
    height: 20px;
  }
  .share_div i:hover{
    color: black;
}
/***************************************************/
.associate_creation{
    text-align: center;
}
.others_img_div{
    /* border: 1px solid #000; */
    min-height: 320px;
}
.associate_creation h1{
    font-family: 'Arapey', serif;
    font-size: 35px;
}
.associate_creation p{
    font-family: 'Arapey', serif;
    font-size: 18px;
}

.associate_creation h2{
    font-family: 'Arapey', serif;
    font-size: 30px;
}
.associate_creation h3{
    font-family: 'Arapey', serif;
    font-size: 27px;
    font-weight: bold;
}

.associate_crea_btn{
    background-color: #000;
    color: white;
    font-family: 'Arapey', serif;
    font-size: 22px;
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.associate_crea_btn:hover{
    transform: scale(1.05);
    background-color: white;
    color: #000;
    font-weight: bold;
}
/***************************************************/
.grey_divs{
    margin-top: 120px;
    margin-bottom: 80px;
}
.delivery_gift_div{
    min-height: 300px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
}
.dlvry_gift_content{
    width: 60%;
}
.delivery_gift_div h1{
    font-family: 'Arapey', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 25%;
}
/***************************************************/
.three_arguments{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.arguments_div{
    text-align: center;
    flex-direction: column;
}
.arguments_div i{
    display: block;
    margin: 40px auto;
    font-size: 40px;
}
.arguments_div h1{
    font-family: 'Arapey', serif;
    font-size: 35px;
    font-weight: bold;
}
/***************************************************
*******************              ******************/
/*********************  PANIER  ********************
*******************              ******************/
/**************************************************/
.cart_title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_title h1{
    font-family: 'Arapey', serif;
}
.panier-table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.panier-table th{
    border: 1.5px solid black;
    min-width: 100px;
    text-align: center;
}
.panier-table td{
    max-width: 200px;
    border: 1.5px solid black;
    text-align: center;
}
.panier-table .delete{
    max-width: 200px;
    border: none;
    text-align: center;
}
.cart_product{
    font-weight: 600;
}
tfoot {
    font-weight: bold;
}
.panier-table .cart_foot td{
    max-width: 200px;
    border: none;
    text-align: center;
    font-size: larger;
}
.panier-table input{
    max-width: 40px;
    text-align: center;
    border: none;
}
.payment_button{
    justify-content: center;
}
#confirm-command {
    min-height: 50px;
    margin-top: 100px;
    border: 2px solid rgb(227, 167, 14);
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
#confirm-command:hover {
    background-color: rgb(227, 167, 14);
    color: white;
}
/* .cart_product input{
    font-weight: 600;
} */
.continu_shopping{
    display: flex;
    justify-content: center;
    align-items: center;
}
.continu_shopping i{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: rgb(227, 167, 14);
}
.continu_shopping h1{
    font-size: 20px;
    font-weight: bold;
}
/***************************************************
*******************              ******************/
/****************  BRACELETS  *****************
*******************              ******************/
/**************************************************/
.filters h1{
    font-family: 'Arapey', serif;
    font-size: 25px;
    margin-left: 10px;
}
.filters .d-flex.flex-column > div {
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Arapey', serif;
}
.filters input[type="radio"] {
    display: none; /* Masquez les boutons radio d'origine */
}
.filters input[type="radio"] + label {
    position: relative;
    padding-left: 30px; /* Ajustez cet espace pour le carré */
    cursor: pointer;
}
.filters input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px; /* Ajustez la taille du carré */
    height: 15px; /* Ajustez la taille du carré */
    border: 1px solid rgb(227, 167, 14); /* Style du bord du carré */
    background-color: #fff; /* Couleur de fond du carré */
}
.filters input[type="radio"]:checked + label::before {
    background-color: rgb(227, 167, 14); /* Couleur de fond du carré lorsqu'il est coché */
    border-color: rgb(227, 167, 14); /* Couleur du bord du carré lorsqu'il est coché */
}

/* Style général pour les titres cliquables */
.accordion-button {
    background-color: #f8f9fa; /* Couleur de fond du bouton */
    color: #333; /* Couleur du texte du bouton */
    border: none;
    border-radius: 0;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

/* Style pour les titres cliquables lorsqu'ils sont ouverts */
.accordion-button[aria-expanded="true"] {
    background-color: #e2e6ea; /* Couleur de fond du bouton ouvert */
    color: #333; /* Couleur du texte du bouton ouvert */
}

/* Style pour le contenu des listes déroulantes */
.accordion-body {
    background-color: #fff; /* Couleur de fond du contenu */
    padding: 10px;
    border: 1px solid #ddd; /* Bordure autour du contenu */
    border-top: none; /* Suppression de la bordure en haut */
}

/* Style pour les liens dans le contenu des listes déroulantes */
.accordion-body a {
    color: black; /* Couleur des liens */
    text-decoration: none;
}

/* Style pour les liens au survol dans le contenu des listes déroulantes */
.accordion-body a:hover {
    text-decoration: underline;
}

.nb_article{
    display: flex;
    align-items: center;
}
.nb_article p{
    font-family: 'Arapey', serif;
    margin-bottom: 0px;
    font-size: 16px;
}
.title_bracelet h1{
    font-family: 'Arapey', serif;
    font-weight: bold;
    text-align: center;
}
.img_bracelet img{
    width: 100%;
}


.bracelet_class{
    position: relative;
}
.bracelet_class:hover{
    text-align: center;
}
.bracelets{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    text-align: center;
}
.bracelets h1{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Arapey', serif;
    color: #000;
}
.bracelets p{
    font-size: 10px;
    color: rgb(235, 163, 39);
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Arapey', serif;
    font-style: italic;
}
.bracelets h2{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #000;
}
.buy_btn{
    display: none;
    background-color: #000;
    color: white;
    font-family: 'Arapey', serif;
    font-size: 22px;
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.bracelet_class:hover .buy_btn{
    transform: scale(1.05);
    background-color: black;
    color: white;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bracelet_class .buy_btn:hover{
    background-color: white;
    color: black;
}
/***************************************************
*******************              ******************/
/*******************  LOGIN  ********************
*******************              ******************/
/**************************************************/
.profil_nav h1{
    font-family: 'Arapey', serif;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
}
.profil_menu li{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.profil_menu a {
    color: black;
    font-weight: 600;
    font-size: 20px;
    transition: font-size 0.5s ease-in-out;
}
.profil_menu a:hover{
    font-size: calc(20px + 3px);
    text-decoration: underline;
    text-decoration-color: rgb(227, 167, 14);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 8px;
}

.welcome_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 236, 236);
}

.welcome_user h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Arapey', serif;
    font-weight: 600;
}

.welcome_user p{
    font-family: 'Arapey', serif;
    font-size: 16px;
    width: 600px;
}
#disconnect {
    min-height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid rgb(227, 167, 14);
    background-color: rgb(236, 236, 236);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
#disconnect:hover {
    background-color: rgb(227, 167, 14);
    color: white;
}

.div_user{
    width: calc(50% - 20px); 
    margin: 10px; 
    padding: 40px; 
    border: 0.5px solid black;
}
.div_user h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.div_user p{
    font-family: 'Arapey', serif;
    font-size: 16px;
}

.div_user a {
    color: black;
    font-family: 'Arapey', serif;
    font-size: 16px;
    transition: font-size 0.5s ease-in-out;
}
.div_user a:hover{
    font-size: calc(16px + 1px);
    text-decoration: underline;
    text-decoration-color: rgb(227, 167, 14);
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 4px;
}
/***************************************************
*******************              ******************/
/*******************  PROFILE  ********************
*******************              ******************/
/**************************************************/
.user_profil{
    padding-left: 50px;
}
.profil_form_head h3{
    margin-top: 20px;
    font-family: 'Arapey', serif;
    font-size: 25px;
    width: 600px;
}
.profil_form_head p{
    margin-top: 20px;
    font-family: 'Arapey', serif;
    font-size: 16px;
    width: 75%;
}
.profil_form{
    margin-bottom: 20px;
}
.profil_form h4{
    margin-bottom: 10px;
    color: grey;
    font-size: 15px;
    font-family: 'Arapey', serif;
}
.change_email_password button{
    text-align: left;
    margin-right: 20px;
    margin-bottom: 40px;
    border: none;
    background-color: white;
}
.change_email_password button a{
    color: black;
    font-family: 'Arapey', serif;
    font-size: 16px;
    font-style: italic;
}
.change_email_password button a:hover{
    font-size: calc(16px + 1px);
    text-decoration: underline;
    text-decoration-color: rgb(227, 167, 14);
}

.civility_div{
    display: flex;
    margin-bottom: 30px;
}
.radio_button{
    margin-right: 60px;
}

.name_div input{
    border: 0;
    border-bottom: 1px solid #000;
    font-family: 'Arapey', serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.born_div{
    display: flex;
    flex-flow: row nowrap;
}

.born_input{
    flex-basis: 33.33333333333%;
}

.born_input select{
    min-width: 100%;
    min-height: 30px;
    border-top: none;
}
.user_profil_foot{
    padding-left: 50px;
}
.user_profil_foot p{
    margin-top: 20px;
    font-family: 'Arapey', serif;
    font-size: 15px;
    width: 80%;
}
.user_profil_foot a{
    color: black;
    text-decoration: underline;
    font-family: 'Arapey', serif;
    font-size: 15px;
}
.user_profil_foot a:hover{
    text-decoration: none;
}

#save {
    min-height: 50px;
    width: 200px;
    margin-top: 40px;
    border: 2px solid rgb(227, 167, 14);
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
#save:hover {
    background-color: rgb(227, 167, 14);
    color: white;
}
/***************************************************
*******************              ******************/
/*******************  ADRESSE  ********************
*******************              ******************/
/**************************************************/
.user_adress h3{
    font-family: 'Arapey', serif;
    margin-top: 50px;
    font-weight: bold;
}
.user_adress p{
    font-family: 'Arapey', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.new_adress {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_adress p {
    margin-right: 20px;
    color: black;
    font-size: 16px;
    font-family: 'Arapey', serif;
}

.add_new_adress a {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.add_new_adress i {
    font-size: 25px;
    color: black;
    margin-right: 10px;
}

.add_new_adress p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 4px;
}

.add_new_adress p:hover {
    text-decoration: none;
}